* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wireframe {
  border: 1px solid black;
}

@media only screen and (min-width: 768px) {
  #home,
  #about-me,
  #projects-page {
    height: 100vh;
    width: 100vw;
    padding: 4% 7%;
  }
}

@media only screen and (max-width: 768px) {
  #home,
  #about-me,
  #projects-page {
    padding: 0 5%;
  }
}

@media only screen and (min-width: 768px) {
  nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 5%;
    right: 5%;
  }
  .navbar-element {
    padding: 10px 30px;
    text-decoration: none;
    list-style-type: none;
    color: black;
  }
  .nav-selected li {
    color: #A5AC8C;
    font-weight: bold;
  }
  .lateral-nav {
    position: fixed;
    top: 25vh;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lateral-nav .dot {
    height: 15px;
    width: 15px;
    border: 1px solid #A5AC8C;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  .lateral-nav .dot-selected {
    background-color: #A5AC8C;
  }
  .lateral-nav .fa-angle-up, .lateral-nav .fa-angle-down {
    color: #A5AC8C;
    padding: 5px 8px;
    border: 1px solid #A5AC8C;
    border-radius: 50%;
  }
  .lateral-nav .fa-angle-up:hover, .lateral-nav .fa-angle-down:hover {
    background-color: #A5AC8C;
    color: #F3F5EC;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-element {
    text-decoration: none;
    color: black;
    padding: 3px 30px;
    border-radius: 10px;
  }
  .nav-selected {
    background: #F3F5EC;
  }
}

@media only screen and (min-width: 768px) {
  .header-1 {
    font-size: 4em;
    font-weight: 500;
    line-height: 55px;
    color: #A5AC8C;
  }
  .header-2 {
    font-size: 3em;
    font-weight: 500;
    line-height: 40px;
    color: black;
  }
  .welcome-main-title {
    font-size: 5em;
    line-height: 55px;
    font-weight: 600;
    color: #A6AE8A;
  }
  .welcome-hi {
    font-family: "Caveat", cursive;
    font-size: 2em;
    padding-bottom: 10px;
    font-weight: light;
    color: #3C4043;
  }
  .name {
    font-size: 42px;
    line-height: 40px;
    font-weight: 500;
    color: #A5AC8C;
  }
  .profession {
    font-size: 20px;
    line-height: 55px;
    color: #3C4043;
    font-weight: 400;
  }
  .bottom-cards h2 {
    font-size: 35px;
    padding-bottom: 15px;
    color: #3C4043;
    font-weight: 600;
  }
  .bottom-cards p {
    color: #3C4043;
    font-weight: 400;
  }
  .more-links {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #737668;
  }
  .contact-link {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #737668;
  }
  .about-title {
    font-size: 70px;
    line-height: 100%;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 30px;
  }
  .about-subtitle {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
  }
  .about-description {
    width: 90%;
  }
  .about-green {
    color: #A5AC8C;
    font-weight: bold;
  }
  .card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #3C4043;
  }
  .card-description {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3C4043;
  }
  .lets-talk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 60px;
    right: 40px;
  }
  .lest-elements {
    padding: 5px 20px;
    text-decoration: none;
    color: black;
  }
  .copyright {
    position: fixed;
    bottom: 20px;
    right: 40%;
    left: 40%;
    text-align: center;
  }
  .project-title {
    font-size: 35px;
    padding-bottom: 15px;
    color: #3C4043;
    font-weight: 600;
  }
  .project-description {
    color: #3C4043;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .welcome-main-title {
    font-size: 3em;
    line-height: 55px;
    font-weight: 600;
    color: #A6AE8A;
  }
  .welcome-hi {
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    padding-bottom: 10px;
    font-weight: light;
  }
  .header-1 {
    color: #A5AC8C;
    font-size: 70px;
    line-height: 60px;
  }
}

.pages {
  border-radius: 8px;
  position: relative;
}

.pages .bottom-cards {
  position: absolute;
  top: 20%;
  left: 10%;
}

.pages .more-links {
  position: absolute;
  bottom: 20%;
  right: 10%;
}

.pages .welcome-card {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

@media only screen and (min-width: 768px) {
  .welcome {
    background: #F3F5EC;
    border-top-left-radius: 150px;
  }
  .welcome-image {
    background: url(../assets/img/camila.jpeg) no-repeat center center;
    background-size: cover;
  }
  .welcome-description {
    background: #F6F6F6;
  }
  .about-me {
    border-bottom-left-radius: 150px;
    background: #eff4dd;
  }
  .about-me:hover {
    box-shadow: 0 0 20px 3px #A6AE8A;
    -webkit-box-shadow: 0 0 20px 3px #A6AE8A;
    -moz-box-shadow: 0 0 20px 3px #A6AE8A;
  }
  .contact {
    background: #D6E1D3;
  }
  .contact:hover {
    box-shadow: 0 0 20px 3px #A6AE8A;
    -webkit-box-shadow: 0 0 20px 3px #A6AE8A;
    -moz-box-shadow: 0 0 20px 3px #A6AE8A;
  }
  .projects {
    border-bottom-right-radius: 350px;
    background: #DEE4CB;
  }
  .projects:hover {
    box-shadow: 0 0 20px 3px #A6AE8A;
    -webkit-box-shadow: 0 0 20px 3px #A6AE8A;
    -moz-box-shadow: 0 0 20px 3px #A6AE8A;
  }
}

@media only screen and (max-width: 768px) {
  .welcome-image {
    background: url(../assets/img/camila.jpeg) no-repeat center center;
    background-size: cover;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[12];
        grid-template-columns: repeat(12, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    grid-gap: 40px;
    grid-auto-flow: row;
  }
  .welcome {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .welcome-image {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7 / 9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .welcome-description {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .about-me {
    grid-column: span 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .contact {
    grid-column: span 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .projects {
    grid-column: span 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .about-paragraphs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: start;
        align-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-paragraphs div {
    width: 50%;
  }
  #about-me .cards-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about-me .card {
    margin: 15px;
    padding: 60px 35px 35px 35px;
    width: 25%;
    border-radius: 40px;
  }
  #about-me .card:first-child {
    background-color: #F6F6F6;
    position: relative;
    top: 50px;
  }
  #about-me .card:nth-child(2) {
    background-color: #eff4dd;
  }
  #about-me .card:nth-child(3) {
    background-color: #F3F5EC;
  }
  #about-me .card:nth-child(4) {
    background-color: #DEE4CB;
    position: relative;
    top: 70px;
  }
  .project-container {
    height: 85%;
    width: 95%;
    position: relative;
    top: 50px;
    left: 50px;
    border-top-left-radius: 450px;
    background-color: #eff4dd;
  }
  .project-container .project-number {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 70px;
    color: #737668;
  }
  .project-container .project-info {
    position: absolute;
    left: 20%;
    top: 30%;
    width: 45%;
  }
  .project-container .project-info .project-read-more {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .about-me {
    display: none;
  }
  .contact {
    display: none;
  }
  .projects {
    display: none;
  }
  .welcome-description {
    display: none;
  }
  .welcome {
    position: absolute;
    top: 70%;
    width: 80%;
  }
  .welcome-image {
    position: absolute;
    width: 160px;
    height: 200px;
    top: 20%;
    right: 10%;
  }
  .contact-link {
    position: absolute;
    bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about-paragraphs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: start;
        align-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */