@import "variables";

.pages {
  border-radius: 8px;
  position: relative;
  .bottom-cards{
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .more-links {
    position: absolute;
    bottom: 20%;
    right: 10%;
  }
  .welcome-card {
    position: absolute;
    bottom: 20%;
    left: 10%;
  }
}

@media only screen and (min-width: $break-1) {
  .welcome {
    background: $color-1;
    border-top-left-radius: 150px;
  }
  .welcome-image {
    background: url(../assets/img/camila.jpeg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .welcome-description {
    background: $color-2;
  }
  .about-me {
    border-bottom-left-radius: 150px;
    background: $color-3;
    &:hover{
      box-shadow: 0 0 20px 3px #A6AE8A;
      -webkit-box-shadow: 0 0 20px 3px #A6AE8A;
      -moz-box-shadow: 0 0 20px 3px #A6AE8A;
    }
  }
  .contact {
    background: $color-4;
    &:hover{
      box-shadow: 0 0 20px 3px #A6AE8A;
      -webkit-box-shadow: 0 0 20px 3px #A6AE8A;
      -moz-box-shadow: 0 0 20px 3px #A6AE8A;
    }
  }

  .projects {
    border-bottom-right-radius: 350px;
    background: $color-5;
    &:hover{
      box-shadow: 0 0 20px 3px #A6AE8A;
      -webkit-box-shadow: 0 0 20px 3px #A6AE8A;
      -moz-box-shadow: 0 0 20px 3px #A6AE8A;
    }
  }

}

@media only screen and (max-width: $break-1) {
  .welcome-image {
    background: url(../assets/img/camila.jpeg);
  }
}