@import "variables";

.pages {
  border-radius: 8px;
}

@media only screen and (min-width: $break-1) {
  .welcome {
    background: $color-1;
    border-top-left-radius: 200px;
  }
  .welcome-image {
    object-fit: cover;
    background-image: url(assets/img/camila.jpeg);
  }
  .welcome-description {
    background: $color-5;
  }
  .about-me {
    border-bottom-left-radius: 200px;
    background: $color-2;
  }
  .contact {
    background: $color-3;
  }
  .projects {
    border-bottom-right-radius: 350px;
    background: $color-4;
  }
}

