@import "variables";

.row {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: $break-1) {
.grid {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 40px;
    grid-auto-flow: row;
  }
  
  .welcome {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
  }
  
  .welcome-image{
    grid-column: 7 / 9;
    grid-row: 1 / 2;
  }
  
  .welcome-description{
    grid-column: 9 / 13;
    grid-row: 1 / 2;
  }
  
  .about-me{
    grid-column: span 4;
    grid-row: 2 / 3;
  }
  
  .contact{
    grid-column: span 4;
    grid-row: 2 / 3;
  }
  
  .projects{
    grid-column: span 4;
    grid-row: 2 / 3;
  }
}
@media only screen and (max-width: $break-1) {

  .about-me {
    display: none;
  }
  .contact {
    display: none;
  }
  .projects {
    display: none;
  }
  .welcome-description {
    display: none;
  }
  .welcome{
    position: absolute;
    top: 70%;
    width: 80%;

  }
  .welcome-image{
    position: absolute;
    top: 20%;
    right: 10%;
  }
  .contact-link{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-evenly;
  }
}