// COMPU
@media only screen and (min-width: $break-1) {
  .header-1 {
    font-size: 4em;
    font-weight:500;
    line-height: 55px;
    color: $color-10;
  }
  .header-2 {
    font-size: 3em;
    font-weight:500;
    line-height: 40px;
    color: $color-8;
  }
  .welcome-main-title {
    font-size: 5em;
    line-height: 55px;
    font-weight:600;
    color: #A6AE8A;
  }

  .welcome-hi{
    font-family: $secondary-typo;
    font-size: 2em;
    padding-bottom: 10px;
    font-weight:light;
    color: $color-7;
  }

  .name {
    font-size: 42px;
    line-height: 40px;
    font-weight:500;
    color: $color-10;
  }

  .profession{
    font-size: 20px;
    line-height: 55px;
    color: $color-7;
    font-weight:400;
  }

  .bottom-cards{
    h2{
      font-size: 35px;
      padding-bottom: 15px;
      color: $color-7;
      font-weight:600;
    }
    p {
      color: $color-7;
      font-weight:400;
    }
  }

  .more-links{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: $color-9;
  }

  .contact-link{
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: $color-9;
  }

  .about-title {
    font-size: 70px;
    line-height: 100%;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 30px;
  }

  .about-subtitle {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
  }
  .about-description {
    width: 90%;
  }

  .about-green {
    color: $color-10;
    font-weight: bold;
  }

  .card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: $color-7;

  }

  .card-description {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-7;

  }

  .lets-talk {
    display: flex;
    position: fixed;
    bottom: 60px;
    right: 40px;
  }
  .lest-elements {
    padding: 5px 20px;
    text-decoration: none;
    color: black;
  }
  .copyright {
    position: fixed;
    bottom: 20px;
    right: 40%;
    left: 40%;
    text-align: center;
  }

  .project-title {
    font-size: 35px;
    padding-bottom: 15px;
    color: $color-7;
    font-weight:600;
  }
  .project-description {
    color: $color-7;
    font-weight:400;
    font-size: 20px;
    line-height: 30px;
  }

}


//  CELU
@media only screen and (max-width: $break-1) {
  .welcome-main-title {
    font-size: 3em;
    line-height: 55px;
    font-weight:600;
    color: #A6AE8A;
  }

  .welcome-hi{
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    padding-bottom: 10px;
    font-weight:light;
  }

  .header-1 {
    color: $color-10;
    font-size: 70px;
    line-height: 60px;
  }

  .mobile-description {
    font-size: 16px;
    line-height: 20px;
    font-weight:400;
    color: $color-7;;
  }

  .contact-link{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: $color-9;
  }
}