// COLORS
$color-1: #F3F5EC;
$color-2: #F6F6F6;
$color-3: #eff4dd;
$color-4: #D6E1D3;
$color-5: #DEE4CB;
$color-6: #D6DDBE;
$color-7: #3C4043;
$color-8: black;
$color-9: #737668;
$color-10: #A5AC8C;
$color-7: #f7f7f7;
// COLORS

// BREAKPOINT
$break-1: 768px;

//TYPO
$primary-typo: 'Poppins', sans-serif;
$secondary-typo: 'Caveat', cursive;
