// COLORS
$color-1: #D6E1D3;
$color-2: #eff4dd;
$color-3: #DEE4CB;
$color-4: #D6DDBE;
$color-5: #f7f7f7;
$color-6: #F3F5EC;
$color-7: #F6F6F6;
$color-8: #3C4043;
$color-9: #737668;
$color-10: #A5AC8C;
$color-white: white;
$color-black: black;
// COLORS

// BREAKPOINT
$break-1: 768px;

//TYPO
$primary-typo: 'Nunito Sans', sans-serif;
$secondary-typo: 'Nunito Sans', sans-serif;
